<div class="footer-basic">
    <footer>
        <div class="social"><a href="#" target="_blank"><i class="icon ion-social-instagram"></i></a><a
                href="https://www.linkedin.com/in/florian-allione-40879817a/" target="_blank"><i
                    class="icon ion-social-linkedin"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#home">Accueil</a></li>
            <li class="list-inline-item"><a href="#about">A propos de moi</a></li>
            <li class="list-inline-item"><a href="#projets">Mes projets</a></li>
            <li class="list-inline-item"><a href="#contact">Contact</a></li>
        </ul>
        <p class="copyright">ALLIONE Florian &copy; 2021</p>
    </footer>
</div>