* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.scroll {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
    .scroll {
        top: 80%;
    }
}

.down {
    position: relative;
    width: 40px;
    height: 60px;
    border-radius: 18px;
    border: 4px solid #fff;
    background: transparent;
    overflow: hidden;
}
.down:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    animation: scrolling 2s linear infinite;
}

@keyframes scrolling {
    0% {
        opacity: 0;
        transform: translate(-50%, px);
    }
    80% {
        opacity: 1;
        transform: translate(-50%, 15px);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 70px);
    }
}

main {
    min-height: 100vh;

    .title {
        width: fit-content;
        margin: 0 auto 30px auto;
        margin-top: 50px;
        font-size: 30px;
        padding: 0 10px 15px 10px;
        border-bottom: 4px solid rgb(0, 140, 255);
    }

    section.home {
        padding: 22vh 0 0 0;
        width: 100%;
        min-height: 100vh;
        text-align: center;
        background-image: url(../../assets/fond-home.png);
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);

        div.photo-florian {
            box-sizing: content-box;
            width: 200px;
            height: 200px;
            margin: 0 auto 25px auto;
            background-image: url(../../assets/photo-florian.png);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 100%;
            border: 15px solid white;
        }
        div.section-text {
            color: white;
            font-weight: bold;
            font-size: 19px;
            margin-top: 60px;
        }
    }
    section.about {
        text-align: center;

        div.about-container {
            display: flex;
            justify-content: space-evenly;

            .text {
                width: 47%;
                //background-color: green;
                h2 {
                    font-size: 25px;
                    margin-bottom: 20px;
                }
            }
            .skills {
                width: 47%;
                background-image: url(../../assets/fond-skills.png);
                background-repeat: no-repeat;
                background-size: cover;
                clip-path: circle(50% at 50% 50%);
                padding: 20px 0 30px 0;
                div {
                    display: flex;
                    justify-content: space-evenly;

                    p {
                        background-color: white;
                        width: 150px;
                        padding: 30px 0;
                        margin: 15px 0;
                        border: 1px solid #289fed;
                        box-shadow: 5px 5px 0px 0px #289eed7c, 10px 10px 0px 0px #5fb7ff80, 15px 15px 0px 0px #a1d8ff96,
                            20px 20px 0px 0px #cae6ff88, 25px 25px 0px 0px #e1eeff80, 0px 0px 15px 4px rgba(0, 0, 0, 0);
                        text-align: center;
                        border-radius: 30%;
                    }
                }
            }
        }
    }

    section.projets {
        margin: 70px 0;

        .gallery {
            background: #eee;
        }

        .gallery-cell {
            width: 66%;
            height: 300px;
            margin-right: 10px;
            background: #8c8;
        }

        /* cell number */
        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }
    }
    section.contact {
        text-align: center;

        form {
            width: 80%;
            margin: 50px auto;

            .form-group {
                width: 100%;
                text-align: center;

                .form-style {
                    width: 50%;
                }
            }

            .textaera {
                height: 300px;
            }

            button {
                color: white;
                background-color: #289fed;
                border: 2px solid #289fed;
                border-radius: 20px;
                padding: 10px 20px;
                font-weight: bold;
                transition: color 0.3s, background-color 0.3s;
            }
            button:hover {
                color: #289fed;
                background-color: white;
                transition: color 0.5s, background-color 0.5s;
            }
        }
    }
}

@media (max-width: 991.98px) {
    div.about-container {
        align-items: center;
        flex-direction: column;

        .skills {
            width: 100% !important;
        }
        .text {
            width: 90% !important;
        }
    }
    .form-style {
        width: 300px !important;
    }
}
